@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Fira+Sans:wght@200;400;600&family=Fugaz+One&family=Lobster&display=swap');

#ticTacToeLudo101 {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    box-sizing: border-box;
}

#ticTacToeLudo101 div, #ticTacToeLudo101 h1, #ticTacToeLudo101 h2, #ticTacToeLudo101 h3, #ticTacToeLudo101 h4, #ticTacToeLudo101 p, #ticTacToeLudo101 ul {
    font-family: 'Fira Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: 0;
}

#ticTacToeLudo101.box-shadow, #ticTacToeLudo101 .box-shadow {
    border: 1px solid #bebebe;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 .2rem .2rem #00000050;
}

#ticTacToeLudo101 ul {
    list-style: none;
    padding: 0;
}

/*-----Responsive-----*/

@media screen and (min-width: 768px) {
    #ticTacToeLudo101 #pluginBody {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: minmax(auto, 60%) minmax(min-content, auto);
        grid-template-rows: auto auto;
        grid-template-areas: 
        "game players"
        "game parameters";
        gap: 2rem;
    }

    #ticTacToeLudo101 #pluginPlayers {
        grid-area: players;
        align-self: flex-start;
    }

    #ticTacToeLudo101 #pluginGameContainer {
        grid-area: game;
        align-self: flex-start;
    }

    #ticTacToeLudo101 #pluginParameters {
        grid-area: parameters;
        align-self: flex-end;
    }

    #ticTacToeLudo101 #pluginBody > section {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

}

/*-----Joueurs-----*/

#ticTacToeLudo101 #pluginPlayers {
    margin: 2rem 0;
    display: flex;
}

#ticTacToeLudo101 #pluginPlayers > div {
    flex-grow: 1;
}

#ticTacToeLudo101 #pluginPlayers > div:first-of-type {
    margin-right: 1rem;
}

#ticTacToeLudo101 #pluginPlayers h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

#ticTacToeLudo101 #pluginPlayers h3 {
    font-size: 1rem;
    margin-bottom: .5rem;
}

#ticTacToeLudo101 #pluginPlayers li {
    font-size: .9rem;
} 

/*-----Paramètres-----*/

#ticTacToeLudo101 #pluginParameters form {
    margin: 2rem 0 1rem;
    display: flex;
}

#ticTacToeLudo101 #pluginParameters form > section:first-of-type {
    margin-right: 1rem;
}

#ticTacToeLudo101 #pluginParameters form > section {
    flex-grow: 1;
}

#ticTacToeLudo101 #pluginParameters h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

#ticTacToeLudo101 #pluginParameters li {
    font-size: .9rem;
} 

#ticTacToeLudo101 #pluginParameters .button {
    padding: 0.5rem;
    text-align: center;
    font-size: .9rem;
    font-weight: 600;
}

/*-----Grille-----*/

#ticTacToeLudo101 #pluginGameContainer {
    position: relative;
    padding-top: 100%;
    width: 100%;
    margin: 3rem auto;
}

#ticTacToeLudo101 #pluginGameGrid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 6fr 1fr 6fr 1fr 6fr;
    grid-template-rows: 6fr 1fr 6fr 1fr 6fr;
    grid-template-areas: 
    "A1 .. A2 .. A3"
    ".. .. .. .. .."
    "B1 .. B2 .. B3"
    ".. .. .. .. .."
    "C1 .. C2 .. C3";
}

#ticTacToeLudo101 .pluginGameMatrix, .pluginGameCell {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#ticTacToeLudo101 .H1 {
    grid-column: 2;
    grid-row: 1 / -1;
    background-image: url(../images/h1.svg);
}

#ticTacToeLudo101 .H2 {
    grid-column: 4;
    grid-row: 1 / -1;
    background-image: url(../images/h2.svg);
}

#ticTacToeLudo101 .V1 {
    grid-column: 1 / -1;
    grid-row: 2;
    background-image: url(../images/v1.svg);
}

#ticTacToeLudo101 .V2 {
    grid-column: 1 / -1;
    grid-row: 4;
    background-image: url(../images/v2.svg);
}

#ticTacToeLudo101 .A1 {
    grid-area: A1;
}

#ticTacToeLudo101 .A2 {
    grid-area: A2;
}

#ticTacToeLudo101 .A3 {
    grid-area: A3;
}

#ticTacToeLudo101 .B1 {
    grid-area: B1;
}

#ticTacToeLudo101 .B2 {
    grid-area: B2;
}

#ticTacToeLudo101 .B3 {
    grid-area: B3;
}

#ticTacToeLudo101 .C1 {
    grid-area: C1;
}

#ticTacToeLudo101 .C2 {
    grid-area: C2;
}

#ticTacToeLudo101 .C3 {
    grid-area: C3;
}

#ticTacToeLudo101 .o1 {
    background-image: url(../images/o1.svg);
}

#ticTacToeLudo101 .o2 {
    background-image: url(../images/o2.svg);
}

#ticTacToeLudo101 .o3 {
    background-image: url(../images/o3.svg);
}

#ticTacToeLudo101 .x1 {
    background-image: url(../images/x1.svg);
}

#ticTacToeLudo101 .x2 {
    background-image: url(../images/x2.svg);
}

#ticTacToeLudo101 .x3 {
    background-image: url(../images/x3.svg);
}

#ticTacToeLudo101 #pluginGameGrid.D1::after {
    content: '';
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    background-image: url(../images/d1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#ticTacToeLudo101 #pluginGameGrid.D2::after {
    content: '';
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    background-image: url(../images/d2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#ticTacToeLudo101 #pluginGameGrid.R1::after {
    content: '';
    grid-row: 1;
    grid-column: 1 / -1;
    background-image: url(../images/r0.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#ticTacToeLudo101 #pluginGameGrid.R2::after {
    content: '';
    grid-row: 3;
    grid-column: 1 / -1;
    background-image: url(../images/r0.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#ticTacToeLudo101 #pluginGameGrid.R3::after {
    content: '';
    grid-row: 5;
    grid-column: 1 / -1;
    background-image: url(../images/r0.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#ticTacToeLudo101 #pluginGameGrid.C1::after {
    content: '';
    grid-row: 1 / -1;
    grid-column: 1;
    background-image: url(../images/c0.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#ticTacToeLudo101 #pluginGameGrid.C2::after {
    content: '';
    grid-row: 1 / -1;
    grid-column: 3;
    background-image: url(../images/c0.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#ticTacToeLudo101 #pluginGameGrid.C3::after {
    content: '';
    grid-row: 1 / -1;
    grid-column: 5;
    background-image: url(../images/c0.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}