@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600&display=swap');

:root {
    /*-----Elements colors-----*/
    --primary: #f5b106;
    --secondary: #01a7be;
    --third: #dd38b7;
    --boxshadow: #00000080;
    --boxBackground: #4e1d50b0;
    --highlight: #01a7be60;

    /*-----Background Colors-----*/
    --background: #FFFFFF75;
    --backgroundGradient: circle, var(--third) 0%, rgba(78, 29, 80, 1) 75%, rgba(17, 18, 36, 1) 100%;
}


#ticTacToeLudo101 {
    margin-left: 0;
    margin-right: 0;
    max-width: 1000px;
    box-sizing: border-box;
    background: url(../images/perspective.svg), radial-gradient(var(--backgroundGradient));
    background-size: cover;
    background-position: center top;
    border-radius: .7rem;
    padding: 1.5rem;
    box-shadow: 0 .5rem .5rem var(--boxshadow);
}

#ticTacToeLudo101 div,
#ticTacToeLudo101 h1,
#ticTacToeLudo101 h2,
#ticTacToeLudo101 h3,
#ticTacToeLudo101 h4,
#ticTacToeLudo101 p,
#ticTacToeLudo101 ul {
    font-family: 'Fira Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: var(--primary);
    margin: 0;
}

#ticTacToeLudo101 .box-shadow {
    border: 1px solid var(--third);
    border-radius: .3rem;
    padding: 1.5rem;
    box-shadow: 0 .2rem .2rem var(--boxshadow);
    background: var(--boxBackground);
}

#ticTacToeLudo101 ul {
    list-style: none;
    padding: 0;
}

#ticTacToeLudo101 img {
    display: block;
}

/*-----Entête-----*/

#ticTacToeLudo101 #pluginHeader {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    border-bottom: .25rem solid var(--secondary);
}

#ticTacToeLudo101 #pluginHeader p {
    font-size: 0.9rem;
    padding: .2rem 0 0 .5rem;
}

#ticTacToeLudo101 #pluginHeader #title {
    max-width: 100%;
    height: 40px;
}

#ticTacToeLudo101 #pluginHeader #logo {
    height: 70px;
    padding: .2rem;
}

/*-----Responsive Body-----*/

@media screen and (min-width: 768px) {
    #ticTacToeLudo101 #pluginBody {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: minmax(auto, 60%) minmax(min-content, auto);
        grid-template-areas:
            "game players"
            "game time"
            "game parameters";
        row-gap: 1rem;
        column-gap: 2rem;
    }

    #ticTacToeLudo101 #pluginPlayers {
        grid-area: players;
        align-self: start;
    }

    #ticTacToeLudo101 #pluginTime{
        grid-area: time;
        align-self: start;

    }

    #ticTacToeLudo101 #pluginGameContainer {
        grid-area: game;
        align-self: start;
    }

    #ticTacToeLudo101 #pluginParameters {
        grid-area: parameters;
        align-self: end;
    }

    #ticTacToeLudo101 #pluginBody>section {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

}

/*-----Joueurs-----*/

#ticTacToeLudo101 #pluginPlayers {
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
}

#ticTacToeLudo101 #pluginPlayers>div {
    flex-grow: 1;
}

#ticTacToeLudo101 #pluginPlayers h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

#ticTacToeLudo101 #pluginPlayers h3 {
    font-size: 1rem;
    margin-bottom: .5rem;
}

#ticTacToeLudo101 #pluginPlayers li {
    font-size: .9rem;
}

#ticTacToeLudo101 #pluginHostPlayer {
    background-image: url(../images/x-shaded.svg);
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position: bottom .5rem right .5rem;
}

#ticTacToeLudo101 #pluginGuestPlayer {
    background-image: url(../images/o-shaded.svg);
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position: bottom .5rem right .5rem;
}

#ticTacToeLudo101 #pluginPlayers .activePlayer {
    background-color: var(--highlight);
    border-bottom-width: 5px;
    border-color: var(--secondary);
    box-shadow: 0 7px 7px var(--boxshadow);
}

#ticTacToeLudo101 #pluginHostPlayer.activePlayer {
    background-image: url(../images/x.svg);
}

#ticTacToeLudo101 #pluginGuestPlayer.activePlayer {
    background-image: url(../images/o.svg);
}

/*-----Temps-----*/

#ticTacToeLudo101 #pluginTime {
    padding: .5rem;
    font-size: 3rem;
    text-align: center;
    line-height: normal;
    letter-spacing: .5rem;
}

/*-----Paramètres-----*/

#ticTacToeLudo101 #pluginParameters form {
    margin: 0rem 0 1rem;
    display: flex;
}

#ticTacToeLudo101 #pluginParameters form>section:first-of-type {
    margin-right: 1rem;
}

#ticTacToeLudo101 #pluginParameters form>section {
    flex-grow: 1;
}

#ticTacToeLudo101 #pluginParameters h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

#ticTacToeLudo101 #pluginParameters li {
    font-size: .9rem;
}

#ticTacToeLudo101 #pluginParameters .button {
    padding: 0.5rem;
    text-align: center;
    font-size: .9rem;
    font-weight: 600;
    transition: all ease 0.7s;
}

#ticTacToeLudo101 #pluginParameters .button:hover {
    background-color: var(--third);
    color: black;
    font-size: medium;
    letter-spacing: .4rem;
    padding: 1.95%;
}

/*-----Bouton radio-----*/

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 1.2px;
    background-clip: content-box;
    border: 1px solid var(--third);
    /*background-color: #fbebfb;*/
    background-color: transparent;
    border-radius: 50%;
}

input[type="radio"]:checked {
    background-color: var(--primary);
}


/*-----Grille-----*/

#ticTacToeLudo101 #pluginGameContainer {
    position: relative;
    padding-top: 100%;
    width: 100%;
    margin: 3rem auto;
}

#ticTacToeLudo101 #pluginGameBoard {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5%;
    grid-template-areas:
        "A1 A2 A3"
        "B1 B2 B3"
        "C1 C2 C3";

}

#ticTacToeLudo101 #pluginGameBoard::before {
    content: '';
    background-image: url(../images/grille.svg);
    background-size: contain;
    grid-row: 1 / span 3;
    grid-column: 1 / span 3;
}

#ticTacToeLudo101 .pluginGameCell {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*
#ticTacToeLudo101 .H1 {
    grid-column: 2;
    grid-row: 1 / -1;
    background-image: url(../images/h1.svg);
}

#ticTacToeLudo101 .H2 {
    grid-column: 4;
    grid-row: 1 / -1;
    background-image: url(../images/h2.svg);
}

#ticTacToeLudo101 .V1 {
    grid-column: 1 / -1;
    grid-row: 2;
    background-image: url(../images/v1.svg);
}

#ticTacToeLudo101 .V2 {
    grid-column: 1 / -1;
    grid-row: 4;
    background-image: url(../images/v2.svg);
}
*/
#ticTacToeLudo101 .A1 {
    grid-area: A1;
}

#ticTacToeLudo101 .A2 {
    grid-area: A2;
}

#ticTacToeLudo101 .A3 {
    grid-area: A3;
}

#ticTacToeLudo101 .B1 {
    grid-area: B1;
}

#ticTacToeLudo101 .B2 {
    grid-area: B2;
}

#ticTacToeLudo101 .B3 {
    grid-area: B3;
}

#ticTacToeLudo101 .C1 {
    grid-area: C1;
}

#ticTacToeLudo101 .C2 {
    grid-area: C2;
}

#ticTacToeLudo101 .C3 {
    grid-area: C3;
}

#ticTacToeLudo101 .pluginGameCell.o {
    background-image: url(../images/o.svg);

}

#ticTacToeLudo101 .pluginGameCell.x {
    background-image: url(../images/x.svg);
}

#ticTacToeLudo101 #pluginGameBoard.d1::after,
#ticTacToeLudo101 #pluginGameBoard.d2::after,
#ticTacToeLudo101 #pluginGameBoard.r1::after,
#ticTacToeLudo101 #pluginGameBoard.r2::after,
#ticTacToeLudo101 #pluginGameBoard.r3::after,
#ticTacToeLudo101 #pluginGameBoard.c1::after,
#ticTacToeLudo101 #pluginGameBoard.c2::after,
#ticTacToeLudo101 #pluginGameBoard.c3::after {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

#ticTacToeLudo101 #pluginGameBoard.d1::after {
    content: '';
    background-image: url(../images/d1.svg);
}

#ticTacToeLudo101 #pluginGameBoard.d2::after {
    content: '';
    background-image: url(../images/d2.svg);
}

#ticTacToeLudo101 #pluginGameBoard.r1::after {
    content: '';
    background-image: url(../images/r1.svg);
}

#ticTacToeLudo101 #pluginGameBoard.r2::after {
    content: '';
    background-image: url(../images/r2.svg);
}

#ticTacToeLudo101 #pluginGameBoard.r3::after {
    content: '';
    background-image: url(../images/r3.svg);
}

#ticTacToeLudo101 #pluginGameBoard.c1::after {
    content: '';
    background-image: url(../images/c1.svg);
}

#ticTacToeLudo101 #pluginGameBoard.c2::after {
    content: '';
    background-image: url(../images/c2.svg);
}

#ticTacToeLudo101 #pluginGameBoard.c3::after {
    content: '';
    background-image: url(../images/c3.svg);
}

#ticTacToeLudo101 #pluginGameBoard.x .pluginGameCell.empty:hover {
    background-image: url(../images/x-shaded.svg);
}

#ticTacToeLudo101 #pluginGameBoard.o .pluginGameCell.empty:hover {
    background-image: url(../images/o-shaded.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}